:root{
    --basecolor:red;
    --shadeone: rgb(250, 128, 109);
    --shadetwo: rgb(232, 50, 100);
    --white: white;
    --black: black;
    --shadow: black;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    padding-left: 0;
}

header{
    background-color: var(--basecolor);
    padding: 50px 0;
    color:var(--white);
    text-align: center;
    display:block;
}

.navlist {
    display:inline-block;
    padding:12px;
    border-radius: 5px;
    transform:scale(1);
    margin-right: 5px;
    margin-top: 5px;
    box-shadow:0px 2px 3px var(--shadow);
    background-color:var(--white);
    transition: transform .3s ease, box-shadow .3s ease;
}

.navlist:hover {
    border-radius: 5x;
    background-color:var(--shadeone);
    transform: scale(1.2);
    margin-top: 10px;
    margin-left:20px;
    margin-right:20px;
    box-shadow: 0px 5px 8px var(--shadow);
    color:var(--white);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
    color: var(--shadetwo);
}

.content{
    background-color: var(--white);
    padding:0;
    transition:padding 1s, background-color 1s ease;
}

.content:hover {
    color:var(--white);
    background-color: var(--shadeone);
    transition: color 1s ease;
    padding: 0;
}

footer {
    color: var(--black);
    text-align: center;
    display:static;
    bottom: 0;
    border-top: 1px solid var(--black);
}